* {margin: 5; padding: 5;}

body {
    margin: 5 auto;
    width: 960px;
}

h1 {
    color: rgb(43, 88, 172);
    background: rgb(207, 243, 255);
    font-weight: 1000;
    text-align: center;
    text-shadow: 3px 3px 3px rgb(158, 158, 158);
}

p {
    color: rgb(82, 82, 82);
    background: rgb(240, 240, 240);
}